/*BillCard.css */
.card {
    max-width: 300px;
    width: 100%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-body {
    padding: 16px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card-text {
    margin-bottom: 8px;
    color: #555;
  }
/*Dashboard.css */
/* Dashboard.css */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.p-4 {
  padding: 16px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.manager-main-content {
  flex-grow: 1;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  margin-left: 16rem;
}

.header {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.content .card {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.manager-dashboard {
  display: flex;
  width:100vw;
  height:100vh;
  overflow:auto;
}



.manager-sidebar{
  background-color: #111827;
  color:white;
  width:  256px;
  min-height:100vh;
  display:flex;
  flex-direction: column;
  position: fixed; /* Makes the sidebar fixed */
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto; 
}